<div class="topBarContainer">
  <div class="top-bar">
    <div class="topBarContent">
      <div class="top-bar-left">
        <div id="sideMenuBarsIconContainer" class="menuBarsCollapsed">
          <fa-icon id="sideMenuBarsIcon" class="MenuBarsIcon" [icon]="faBars" (click)="sideMenuClick();rotateMenuIcon()"></fa-icon>
        </div>
        <div id="mobileMenuContainer">
<!--          <fa-icon id="mobileMenuBarsIcon" class="MenuBarsIcon" [icon]="faBars" (click)="sideMenuMobileClick()"></fa-icon>-->
          <div class="dropdown">
            <button (click)="dropDown()"><fa-icon class="MenuBarsIcon" [icon]="faBars"></fa-icon></button>
            <div id="myDropdown" class="dropdown-content">
              <a routerLink="" routerLinkActive="routerLinkActive" class="sideMenuItem" [routerLinkActiveOptions]= "{exact: true}" (click)="dropDown()">Portfolio</a>
              <a routerLink="/typeracer" routerLinkActive="routerLinkActive" class="sideMenuItem"(click)="dropDown()">Typeracer</a>
              <a routerLink="/fitness" routerLinkActive="routerLinkActive" class="sideMenuItem" (click)="dropDown()">Fitness planner</a>
            </div>
          </div>


        </div>
      </div>
      <div class="topBarCenterLogo">
        <div class="topBarCenterLogoContent">
            <span routerLink="/">4n2h0ny /
          <fa-icon class="topBarCenterLogo" [icon]="this.topBarService.getRouteIcon()"></fa-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


