<div class="topBarContainer">
  <div class="top-bar">
    <div class="topBarContent">
      <div class="top-bar-left">
        <div id="sideMenuBarsIconContainer" class="menuBarsCollapsed">
          <fa-icon id="sideMenuBarsIcon" class="MenuBarsIcon" [icon]="faBars" (click)="sideMenuClick();rotateMenuIcon()"></fa-icon>
        </div>
      </div>
      <div class="topBarCenterLogo">
        <div class="topBarCenterLogoContent">
            <span routerLink="/">4n2h0ny /
          <fa-icon class="topBarCenterLogo" [icon]="this.topBarService.getRouteIcon()"></fa-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
