// _settings.scss contains settings for the foundation components. set the background-color there when the file works...
.top-bar {
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--primary-color);
  width: 100%;
}

#sideMenuBarsIconContainer {
  transition: transform 0.3s ease-in-out;
  width: fit-content;
  color: var(--secondary-color);
}

.menuBarsCollapsed:hover {
  transform: scale(1.4);
  transition: transform 0.3s ease-in-out;
}

.MenuBarsIcon:hover {
  cursor: pointer;
}

.activeSideMenu{
  transform: scale(1.4) rotateZ(90deg);
  transition: transform 0.3s ease-in-out;
}

.topBarContent {
  width: 100%;
  display: flex;
}

.topBarContent .topBarCenterLogo{
  flex: 1 0 auto;
  color: var(--secondary-color);
}

.topBarCenterLogo>span {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

// Don't show the logo when the screen width is lower than 640px.
@media only screen and (max-width: 640px) {
  .topBarCenterLogo {
    display: none;
  }
}

.topBarContainer {
  display: flex;
  background-color: rgba(0,0,0,0.3);
}

// span needs to be block to be able to transform.
.topBarCenterLogoContent>span {
  display: inline-block;
  font-weight: bold;
}

.topBarCenterLogoContent>span:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
