.typeracerWrapper {

}

.appSideMenu {
  float: left;
  position: sticky;
  top: 0;
}

.topBarContainer {
  display: flex;
  background-color: rgba(0,0,0,0.3);
}

.topBarContainer .top-bar{
  width: 100%;
}
