<div class="main-header">
  <h1>Current #1:
    {{checkIfUserIdExists(usersList[0]).id | slice:3:checkIfUserIdExists(usersList[0]).id.length}} - {{checkIfUserIdExists(usersList[0]).tstats.recentAvgWpm | number}} WPM
  </h1>
</div>

<div class="userCardsContainer">
  <mat-card *ngFor="let user of usersList; index as i" class="userCard">
      <mat-card-header >
        <div mat-card-avatar class="userCard-header-image" [style.background-image]="getAvatarImage(user.avatar)"></div>
        <mat-card-title>{{user.id| slice:3:user.id.length}}</mat-card-title>
<!--        <p id="positionParagraph">#{{i+1}}</p>-->
        <p id="positionParagraph">{{user.tstats.recentAvgWpm !== 0 ? '#' + (i+1).toString() : ''}}</p>
        <mat-card-subtitle matTooltip="Recent WPM">{{user.tstats.recentAvgWpm | number}} WPM</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="userCardContent">
        <div class="userCardStatsDescription">
          <p>Full Average</p>
          <p>Best Race</p>
          <p>Races Completed</p>
          <p>Races Won</p>
          <p>Win Ratio</p>
          <p>Skill Level</p>
        </div>
        <div class="userCardStats">
          <p>{{user.tstats.wpm | number}} WPM</p>
          <p>{{user.tstats.bestGameWpm | number}} WPM</p>
          <p>{{user.tstats.cg}}</p>
          <p>{{user.tstats.gamesWon}}</p>
          <p>{{user.tstats.gamesWon / user.tstats.cg * 100 | number:'1.0-0'}}%</p>
          <p>{{getSkillLevel(user.tstats.level)}}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="focusRecentScoresChart(charts)">SHOW STATS</button>
        <button mat-button (click)="showTyperacerBadge(user.id)">SHARE</button>
      </mat-card-actions>
  </mat-card>
</div>

<ng-template #loading>
  loading
</ng-template>

<!--TODO: implement the users progress bar based on the recent average WPM.-->
<!--<div class="userProgressBar">-->

<!--</div>-->


  <div class="chartsContainer" #charts>
    <mat-card class="recentWpmCard">
      <canvas id="canvas">{{ recentScoresChart }}</canvas>
    </mat-card>
<!--    TODO: make chart-->
<!--    <mat-card class="accuracyCard">-->
<!--      place chart here-->
<!--    </mat-card>-->
  </div>


