.navbar {
  justify-content: space-between;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  background-color: #e91e63;
  position: fixed;
  height: 60px;
  z-index: 10;
}

.material-icons{
  font-size: 50px;
  padding-top: 5px;
}

.navbarSpan{
  position: absolute;
  padding-left: 0.5rem;
  padding-top: 12px;
}

.navbarText {
  display: inline;
  font-size: small;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

a{
  color: white;
}

.footer {
  background-color: #e91e63;
  font-size: small;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  justify-content: space-between;
}

.octicon {
  display: inline-block;
  vertical-align: bottom;
  fill: currentColor;
}

.octicon:hover {
  fill: #a21b4e;
}
