<div class="card">
  <div class="card-divider">
    <div>
      <div style="float: left; display: inline;">
        <span>car </span>
      </div>
      <div style="float: left; display: inline;">
        <h1 class="cardTitle">Name</h1>
        <h2 class="cardSubTitle">x WPM</h2>
      </div>
    </div>
    <span>#x</span>
  </div>
  <div class="card-section">
    <div class="userStatsContainer">
      <div class="statsLabels">
        <p>Full Average</p>
        <p>Best Race</p>
        <p>Races Completed</p>
        <p>Win Ratio</p>
        <p>Skill Level</p>
      </div>
      <div class="statsValues">
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
      </div>
    </div>
  </div>
</div>
