<div class="card" *ngIf="user !== undefined">
  <div class="card-divider">
    <div>
      <div style="float: left; display: inline;">
        <h1 class="cardTitle">{{user.id | slice:3}}</h1>
        <h2 class="cardSubTitle">{{roundToTwoDecimals(user.tstats.recentAvgWpm)}} WPM</h2>
      </div>
    </div>
    <span>#x</span>
  </div>
  <div class="card-section">
    <div class="userStatsContainer">
      <div class="statsLabels">
        <p>Full Average</p>
        <p>Best Race</p>
        <p>Races Completed</p>
        <p>Win Ratio</p>
        <p>Skill Level</p>
        <p>Vehicle</p>
      </div>
      <div class="statsValues">
        <p>{{roundToTwoDecimals(user.tstats.wpm)}} WPM</p>
        <p>{{roundToTwoDecimals(user.tstats.bestGameWpm)}} WPM</p>
        <p>{{user.tstats.cg}}</p>
        <p>{{calculateWinRatio()}}%</p>
        <p>{{getSkillLevel()}}</p>
        <img src="https://data.typeracer.com/public/images/avatars/{{user.avatar}}" *ngIf="user.avatar !== null">
        <img src="https://data.typeracer.com/public/images/avatars/{{avatar}}" *ngIf="user.avatar == null">
      </div>
    </div>
  </div>
</div>
