<div id="sideMenu" class="sideMenu collapsible">
  <div class="menuContent">
    <ul class="vertical menu align-center">
      <li><a routerLink="" routerLinkActive="routerLinkActive" class="sideMenuItem" [routerLinkActiveOptions]= "{exact: true}">Portfolio</a></li>
      <li><a routerLink="/typeracer" routerLinkActive="routerLinkActive" class="sideMenuItem">Typeracer</a></li>
      <li><a routerLink="/fitness" routerLinkActive="routerLinkActive" class="sideMenuItem">Fitness planner</a></li>
    </ul>
  </div>
</div>
