* {
  --sideMenuWidth: 250px;
}

@media only screen and (max-width: 570px) {
  .sideMenu {
    display: none;
  }

  .sideMenuBackground {
    display: none;
  }
}

.sideMenu {
  background-color: var(--secondary-color);
  float: left;
  position: sticky;
  top: 0;
  z-index: 100;
}

.sideMenuBackground {
  background-color: var(--secondary-color);
  float: left;
  height: 100vh;
  position: fixed;
  z-index: 99;
}

.sideMenuBackgroundContent {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  padding-top: 20px;
}

.collapsible {
  color: white;
  border: none;
  text-align: left;
  outline: none;
}

.sideMenuItem {
  width: 100%;
  min-width: var(--sideMenuWidth);
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: x-large;
  color: var(--primary-color);
}

.menuContent {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  padding-top: 20px;
}

.active .menuContent {
  width: var(--sideMenuWidth);
  transition: width 0.3s ease-in-out;
}

.active .sideMenuBackgroundContent {
  width: var(--sideMenuWidth);
  transition: width 0.3s ease-in-out;
}

.sideMenuItem:hover {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.routerLinkActive {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
}
