// Import Foundation for Sites
// See https://foundation.zurb.com/sites/docs/sass.html for detailed info.
@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-everything;

// Import Angular ngx-foundation Framework Added Styles
@import "../node_modules/ngx-foundation/assets/scss/main";

//// Foundation settings (Custom)
//@import 'assets/scss/settings';
//
//// Global variables and styles (Custom)
//@import 'assets/scss/global';

// Change foundation-everything to the specific modules. This decreases the package size.

:root {
  // Global color scheme.
  --primary-color: #414141;
  --secondary-color: #CCDFCB;
  --tertiary-color: #FF6A5C;
  --quaternary-color: #056571;
  --quinary-color: #D1E8E2;
  --global-background-color: #ededed;

  // max-width that shows the mobile menu.
  --max-width-mobile-menu: 570px;
}

body {
  background-color: var(--global-background-color);
}

@font-face {
  font-family: 'Oxygen', sans-serif;
  src: url("assets/fonts/Oxygen-Regular.ttf") format("truetype");
}

// Content of the view needs to be flex so the side menu can push the content to the left.
.contentContainer {
  display: flex;
}
