.sideMenu {
  width: 0;
  height: 100vh;
  background-color: var(--secondary-color);
}

.collapsible {
  color: white;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.sideMenuItem {
  width: 100%;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: x-large;
  color: var(--primary-color);
}

//.sideMenuItem:hover {
//  background-color: var(--primary-color);
//  color: var(--secondary-color);
//}

.menuContent {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  padding-top: 20px;
}

.active .menuContent {
  width: 250px;
  transition: width 0.3s ease-in-out;
}

.sideMenuItem:hover {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.routerLinkActive {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
}
