<div class="topBarContainer">
  <div class="top-bar">
    <div class="top-bar-left">
      <div id="sideMenuBarsIconContainer">
        <fa-icon id="sideMenuBarsIcon" class="MenuBarsIcon" [icon]="faBars" (click)="sideMenuClick();rotateMenuIcon()"></fa-icon>
      </div>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
</div>
