<div class="topBarContainer">
  <div class="top-bar">
    <div class="topBarContent">
      <div class="top-bar-left">
        <div id="sideMenuBarsIconContainer" class="menuBarsCollapsed">
          <fa-icon id="sideMenuBarsIcon" class="MenuBarsIcon" [icon]="faBars" (click)="sideMenuClick();rotateMenuIcon()"></fa-icon>
        </div>
      </div>
      <div class="topBarCenterLogo">
        <span>4n2h0ny / </span><fa-icon class="topBarCenterLogo" [icon]="faKeyBoard" *ngIf="showKeyBoard"></fa-icon>
      </div>
    </div>
  </div>
</div>
