.recentWPMChartElement {
  padding: 10px;
}

@media only screen and (max-width: 570px) {
  .recentWPMChartElement {
    width: 100vw !important;
    height: 400px !important;
  }
}

.recentWPMChartCard {
  min-width: 800px;
}
